// Place all the styles related to the admins/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genretable {
  width:50%;
  height:150px;
}

.hako{
	width:500px;
	position: absolute;
	top: 55px;
	right: 100px;
}