// Place all the styles related to the admins/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  resize: none;
  width:222px;
  height:150px;
}


p{
	font-size:15px;
}

.itemtable{
	width:80%;
}

.itemtable td{
	border-bottom:solid 1px black;
	border-top:solid 1px black;
}

.itemnew{
	padding-left:86%;
}

.itemname{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.itemname:hover{
	text-decoration: none;
}
