<div class = "container admin-top-container">
	<span class = "admin-top-headline"></span><h4>管理者画面</h4></span>
		<table>
			<tbody>
				<tr>
					<td><h3>本日の注文件数</h3></td>
					<td><h3 class = "order-count"><%= link_to "#{@orders.count}", admins_orders_path %></h3></td>
					<td><h3>件</h3></td>
				</tr>
			</tbody>
		</table>
</div>