<div class="container about-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="about-image">
        <img src="/assets/holl-cake" style="width:600px; height:400px;">
      </div>
      <div class="about-text">
        ケーキを食べると自然と笑みがこぼれる<br>
        大切な仲間や家族とすごす時間を<br>
        さらに幸せにしてくれるケーキ<br>
        そんなケーキを作れることが、私たちの喜び...<br>
        ながのケーキで、更なる幸せと喜びを共に...
      </div>
    </div>
  </div>
</div>
