// Place all the styles related to the users/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item_container {
	margin-top: 100px;
}

.table_index {

}

.cart_top {
	height: 50px;
	background-color: #EEEEEE;
	font-size: 20px;
	padding: 10px;
}

.unit {
	text-align: center;
}

.shop_btn {
	margin-left: 80px;
	margin-top: 1px;
}

.number {
	padding: 10px;
	font-size: 20px;
	background-color: #ffffff;
}

.dangerall {
}

.item-name {
	font-size: 20px;
}

.item_show {
	background-color: #ffffff;
}
