// Place all the styles related to the users/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item_container {
	margin-top: 100px;
	margin-bottom: 100px;
}

.table_index {

}

.cart_top {
	height: 50px;
	background-color: #EEEEEE;
	font-size: 20px;
	padding: 10px;
}

.unit {
	text-align: center;
}

.shop_btn {
	margin-left: 80px;
	margin-top: 1px;
}

.number {
	padding: 10px;
	font-size: 20px;
	background-color: #ffffff;
}

.dangerall {
}

.useritem-image {
	font-size: 20px;
	padding-top: 20px;
	padding-left: 20px;
}

.useritem_name {
	padding-left: 10px;
}

.a_a {
	text-decoration: none;
	color: #331a00;
}

.item_show {
	background-color: #ffffff;
}

.row_a {
}

.row_d {
	margin-top: 50px;
}

.row_top {
	margin-bottom: 50px;
}

.col_d {
	margin-left: 800px;
}

.cartname {
	background-color: #f5f5f5;
	font-size: 20px;
	line-height: 30px;
	padding: 5px;
}

.user_f {
	padding-bottom: 30px;
}