// Place all the styles related to the users/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item_container {
	margin-top: 100px;
}

.table_index {

}

.cart_top {
	height: 50px;
	background-color: #EEEEEE;
}

.table_buy {
	
}