<table>
	<thead>
		<tr>
			<th>
				<h3>ジャンル検索</h3>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<% @genres.each do |genre| %>
				　　<!-- 飛ばす先はindexページだが、引数にジャンルidを指定してコントローラーでif文を使い普通のindexページとgenreのindexページを分岐させる
					(このURLで飛ぶのはジャンルのindexページのみ) -->
					<!-- パラメーターとしてジャンルidをindexに渡す -->
					<%= link_to "#{genre.name}", users_items_path(genre_id: genre.id) %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>




